---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

Mathematics is often seen as a dry, immutable field. But to mathematicians, it is creative and ever changing. Mathematical art is a great way to communicate this perspective to a broader 
audience. 

</br> </br>

I enjoy crafting in many media, and combining these with my love for mathematics. Click on the below images to see some galleries and descriptions of these works! I've also put together 
an <a href='https://bmdart.github.io/bmintz.github.io//files/math-art_final.pdf'>expository talk</a> on this subject. 

</br></br>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

