---
layout: archive
title: "Selected Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>. An introduction to my work is given in my
    <a href="https://bmdart.github.io/bmintz.github.io//files/brian-mintz_thesis-presentation_final.pdf">thesis presentation</a></div>
{% endif %}

{% include base_path %}

{% for post in site.publications %}
  {% include archive-single.html %}
{% endfor %}
