---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

I have enjoyed instructing several classes, listed below.   
</br></br>
In addition, I co-ran the Mathematics Directed Reading Prorgam (DRP) at Dartmouth from 2023-2025. We paired undergraduate students with graduate or post-doc mentors to dive deeply into mathematics not normally seen in the classroom. Our goal was also to foster diversity in mathematics by engaging those with varying backgrounds, and provide a supportive environment. 
</br></br>
For my teaching, I received the Kenneth P. Bogart award from Dartmouth College. 

{% for post in site.teaching %}
  {% include archive-single-talk.html %}
{% endfor %}
